.element-tab-product {
  cursor: pointer;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 12px;
  margin-right: 20px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 15px;
  padding-bottom: 20px;
  font-weight: 500;
}
.element-tab-product-active {
  cursor: pointer;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 12px;
  margin-right: 20px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 15px;
  padding-bottom: 20px;
  font-weight: 500;
}
.element-tab-product:hover {
  cursor: pointer;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 12px;
  margin-right: 20px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 15px;
  padding-bottom: 20px;
  font-weight: 500;
}

.font-title-product {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 770px) {
  .element-tab-product {
    cursor: pointer;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 12px;
    margin-right: 20px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 15px;
    padding-bottom: 20px;
    font-weight: 500;
  }
  .element-tab-product-active {
    cursor: pointer;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-right: 20px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 15px;
    padding-bottom: 20px;
    font-weight: 500;
    background-color: #3B82F6;
    color: white;
    border-radius: 7px;
  }
  .element-tab-product:hover {
    cursor: pointer;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 12px;
    margin-right: 20px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 15px;
    padding-bottom: 20px;
    font-weight: 500;
  }
}
