.element-tab-product {
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #405ec0;

  border-radius: 7px;
  color: white;
}
.element-tab-product-active {
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 7px;
  color: rgb(104, 104, 104);
  /* border: 2px solid rgb(155, 155, 155);; */
}
.element-tab-product-active:hover {
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 7px;
  color: rgb(104, 104, 104);
  background-color: rgb(235, 235, 235);
}
