.background-color-side-bar {
    height: 100vh;
    background-image: linear-gradient(to RIGHT,  rgb(255, 255, 255), rgb(35, 120, 255))
}
.link {
    color:rgb(56, 56, 56);

    padding: 15px 25px;
    gap: 10px;
    transition: 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-sidebar {
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.active {

    color: rgb(255, 255, 255);
    background-color:rgb(35, 120, 255);

}

.link:hover {


    color: rgb(255, 255, 255);
    background-color:rgb(35, 120, 255);
}

.link_text {
    white-space: nowrap;
    font-size: 14px;
}

