/* .back-ground-side {
    background-color: #276221;
} */

.back-ground-side {
    background-color: #10883E;
}

.back-ground-header {
    background-color: #46883e;
}

.bg-element {
    background-color: #C9DCBE;
}
.bolder-bottom-header{
    border-bottom: 1px solid #C9DCBE;
}

.font-text-logo {
    color: white;
    margin-left: 10px;
    margin-bottom: 0;
    font-size: 21px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.link {
    transition: 0.2s;
    color: #EEFFED;
    padding: 0 15px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* margin-left: 25px; */
    margin-bottom: 25px;
}

/* .bar-nav {
    width: 100%;
   
    height: 55px;
    display: flex;
} */

/* .container-icon {
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .icon-sidebar {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
} */

.active {
    transition: 0.2s;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    color: #276221;
    background-color: #C9DCBE;
}

.active::before {
    transition: 0.1s;
    content: "";
    position: absolute;
    top: -35px;
    right: 0;
    height: 35px;
    width: 35px;
    background-color: rgba(86, 86, 206, 0);
    border-radius: 50%;
    box-shadow: 22px 22px 0px 5px #C9DCBE;
    pointer-events: none;
    transition: 0.1s;
}

.active::after {
    transition: 0.1s;
    content: "";
    position: absolute;
    bottom: -35px;
    right: 0;
    height: 35px;
    width: 35px;
    background-color: rgba(86, 86, 206, 0);
    border-radius: 50%;
    box-shadow: 22px -22px 0px 5px #C9DCBE;
    pointer-events: none;
    transition: 0.1s;
}

.link:hover {
    transition: 0.09s;
    border-radius: 25px;
    color: #276221;
    background-color: #C9DCBE;

}

/* .link:hover::before {
    transition: 0.2s;
    content: "";
    position: absolute;
    top: -35px;
    right: 0;
    height: 35px;
    width: 35px;
    background-color: rgba(86, 86, 206, 0);
    border-radius: 50%;
    box-shadow: 22px 22px 0px 5px #C9DCBE;
    pointer-events: none;

} */

/* .link:hover::after {
    transition: 0.2s;
    content: "";
    position: absolute;
    bottom: -35px;
    right: 0;
    height: 35px;
    width: 35px;
    background-color: rgba(86, 86, 206, 0);
    border-radius: 50%;
    box-shadow: 22px -22px 0px 5px #C9DCBE;
    pointer-events: none;

} */

/* .link_text {
    display: flex;
    align-items: center;
    margin-left: 15px;
    white-space: nowrap;
    font-size: 15px;
} */