/* .back-ground-side {
    background-color: #276221;
} */

.back-ground-side {
    background-color: #10883E;
}

.back-ground-header {
    background-color: #46883e;
}

.bg-element {
    background-color: var(--background-color-page);
}

.bolder-bottom-header {
    border-bottom: 1px solid var(--background-color-page);
}

.bg-side-test{
   background-color:  #0e642f;
}


.font-text-logo {
    color: white;
    margin-left: 10px;
    margin-bottom: 0;
    font-size: 21px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.link {

    color: #EEFFED;
    padding: 0 15px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* margin-left: 25px; */
    /* margin-bottom: 30px; */
}

.background-side-phone {
    background-color: #1b251a56;
}

.active {

    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    color: #276221;
    background-color: var(--background-color-page)
}

.active::before {

    content: "";
    position: absolute;
    top: -35px;
    right: 0;
    height: 35px;
    width: 35px;
    background-color: rgba(86, 86, 206, 0);
    border-radius: 50%;
    box-shadow: 22px 22px 0px 5px var(--background-color-page);
    pointer-events: none;

}

.active::after {

    content: "";
    position: absolute;
    bottom: -35px;
    right: 0;
    height: 35px;
    width: 35px;
    background-color: rgba(86, 86, 206, 0);
    border-radius: 50%;
    box-shadow: 22px -22px 0px 5px var(--background-color-page);
    pointer-events: none;
    transition: 0.1s;
}

.link:hover {

    border-radius: 25px;
    color: #276221;
    background-color: var(--background-color-page);

}

.link:hover::before {

    content: "";
    position: absolute;
    top: -35px;
    right: 0;
    height: 35px;
    width: 35px;
    background-color: rgba(86, 86, 206, 0);
    border-radius: 50%;
    box-shadow: 19px 22px 0px 5px var(--background-color-page);
    pointer-events: none;

}

.link:hover::after {

    content: "";
    position: absolute;
    bottom: -35px;
    right: 0;
    height: 35px;
    width: 35px;
    background-color: rgba(86, 86, 206, 0);
    border-radius: 50%;
    box-shadow: 19px -22px 0px 5px var(--background-color-page);
    pointer-events: none;

}

@media only screen and (max-width: 720px) {
    .link {

        color: #EEFFED;
        padding: 0 15px;
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        /* margin-left: 25px; */
        margin-bottom: 30px;
    }


    .active {
        border-radius: 25px;
        color: #276221;
        background-color: var(--background-color-page)
    }

    .active::before {
        content: "";
        position: absolute;
        top: -35px;
        right: 0;
        height: 35px;
        width: 35px;
        background-color: rgba(86, 86, 206, 0);
        border-radius: 50%;
        box-shadow: 22px 22px 0px 5px transparent;
        pointer-events: none;

    }

    .active::after {

        content: "";
        position: absolute;
        bottom: -35px;
        right: 0;
        height: 35px;
        width: 35px;
        background-color: rgba(86, 86, 206, 0);
        border-radius: 50%;
        box-shadow: 22px -22px 0px 5px transparent;
        pointer-events: none;
        transition: 0.1s;
    }

    .link:hover {

        border-radius: 25px;
        color: #276221;
        background-color: var(--background-color-page);

    }

    .link:hover::before {

        content: "";
        position: absolute;
        top: -35px;
        right: 0;
        height: 35px;
        width: 35px;
        background-color: rgba(86, 86, 206, 0);
        border-radius: 50%;
        box-shadow: 22px -22px 0px 5px transparent;
        pointer-events: none;

    }

    .link:hover::after {

        content: "";
        position: absolute;
        bottom: -35px;
        right: 0;
        height: 35px;
        width: 35px;
        background-color: rgba(86, 86, 206, 0);
        border-radius: 50%;
        box-shadow: 22px -22px 0px 5px transparent;
        pointer-events: none;

    }
}