
body,
html {
  overflow-x: hidden;
  width: 100vw;

  /* font-family: Roboto, sans-serif;
} */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

a:hover {
  text-decoration: none !important;
  color: inherit;
}

article {
  padding: 40px 0;
}

b,
strong {
  font-weight: 700;
}

p {
  font-size: 17px;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
a,
p {
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-family: "Roboto", serif;
  /* font-weight: 500;
  line-height: 1.1; */
  margin-bottom: 0px;
}

p,
a {
  font-size: 14px;
  text-decoration: none !important;
}

/* font-validate-input */
.error-validate {
  font-size: 12px;
  color: red;
  font-style: italic;
}

.bg-page {
  background-color: var(--background-color-page);
  min-height: 100vh;
  padding: 30px;

}

:root {

  /* --background-color-page: #e0edd9; */
  --background-color-page: #F3F6F9;
}
.line-page {
  height: 1px;
  background-color: var(--background-color-page);
  width: 100%;
}
.card-element {
  width: 100%;
  background-color: white;
  border-radius: 10px;

}

@media only screen and (max-width: 550px) {
  .bg-page {
    background-color: var(--background-color-page);
    min-height: 100vh;
    padding: 10px;
  }
}

@media only screen and (max-width: 770px) {
  .bg-page {
    background-color: var(--background-color-page);
    min-height: 100vh;
    padding: 15px;
  }
}
.width-card {
  max-width: 250px;
  min-width: 170px;
}
.test-width{
  min-width: 200px;
}

@media only screen and (max-width: 1023px) {
  .width-card {
    max-width: 100%;
    min-width: 170px;
  }
  .test-width{
    min-width: 100%;
  }
}
